<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= planet.name %></title>
</head>
<body>
    <h1>All Planets</h1>
    <ul>
    <% planets.forEach(planet => { %>
        <li>
            <strong><% planet.name %></strong><br>
            Radius: <%= planet.radius %> km<br>
            Has Rings: <%= planet.hasRings ? "Yes" : "No" %><br>
            Orbital Period: <%= planet.orbitalPeriod %> days
        </li>
   <% }) %>
    <a href="/">Back to Home</a>
     </ul>
</body>
</html>
