<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Planet Tracker</title>
</head>
<body>
  <h1>All Planets</h1>
  <a href="/planets/new">Add a new planet</a>
  <ul>
    <% planets.forEach(planet => { %>
     <li>
  <a href="/planets/<%= planet._id %>">
    <%= planet.name %>
  </a>
</li>
    <% }) %>
  </ul>
</body>
</html>
